<!DOCTYPE html>
<html>
<head>
  <title>Sleeve Notes</title>
 <link rel="stylesheet" href="/style.css?ver=0.2">
<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Bungee+Shade|Diplomata|Erica+One|Marcellus|Modak|Muli|Noto+Sans|Paytone+One|Rozha+One|Sahitya|Shrikhand|Signika|Suez+One|Ultra" rel="stylesheet">
</head>
<body>
  <nav id="menu">
    <li id="menu-item"><a href='/artists'><h3>Artists</h3></a></li>
    <li id="menu-item"><a href='/inventory'><h3>Inventory</h3></a></li>
    <li id="menu-item"><a href='/albums'><h3>Albums</h3></a></li>
  </nav>
  <!-- <div class="nav-rule">
    <hr>
  </div> -->
  <div class="logo">
    <h1>Sleeve Notes</h1>
    <hr>
    <h3>RECORD STORE</h3>
  </div>

  <%= yield %>
</body>
</html>
