<!DOCTYPE html>
<html>
<head>
  <title>Sleeve Notes</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav id="menu">
    <li id="menu-item"><a href='/artists'>Artists</a></li>
    <li id="menu-item"><a href='/inventory'>Inventory</a></li>
    <li id="menu-item"><a href='/albums'>Albums</a></li>
  </nav>
  <div class="logo">
    <h1>Sleeve Notes</h1>
    <hr>
    <h2>Record Store</h2>
  </div>

  <%= yield %>
</body>
</html>
