<!DOCTYPE html>
<html>
<head>
  <title>Record Store</title>
</head>
<body>
<main>
  <nav>
    <ul class="flex">
      <li>
        <a href="/artists">Artists</a>
      </li>
      <li>
        <a href="/albums">Albums</a>
      </li>
      <li>
        <a href="/inventory">Inventory</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
