<h2>INVENTORY</h2>

<table>
  <thead>
    <tr>
      <th><h2>Album</h2></th>
      <th><h2>Artist</h2></th>
      <th id="stock-head"></th>
    </tr>
  </thead>
  <body>
    <% @stock.each do |album| %>
      <tr>
        <td><%= album.title  %></td>
        <td><%= album.artist.swap_the() %></td>
        <td scope="<%= album.stock_level() %>" id="stock-level"></td>
      </tr>
    <% end %>
  </body>
</table>
