<table>
  <thead>
    <tr>
      <th>Album</th>
      <th>Artist</th>
      <th>Stock Level</th>
    </tr>
  </thead>
  <body>
    <% @stock.each do |album| %>
      <tr>
        <td><%= album.title  %></td>
        <td><%= album.artist.swap_the() %></td>
        <td><%= album.stock_level() %></td>
      </tr>
    <% end %>
  </body>
</table>
