<h2>INVENTORY</h2>

<div class="stock-level">
  <p>STOCK LEVEL  --</p>
  <table id="stock-keys">
    <tr>
      <td>HIGH</td>
      <td scope="HIGH" id="stock-level"></td>
      <td>MED</td>
      <td scope="MED" id="stock-level"></td>
      <td>LOW</td>
      <td scope="LOW" id="stock-level"></td>
    </tr>
  </table>
</div>



<table>
  <thead>
    <tr>
      <th><h2>Album</h2></th>
      <th><h2>Artist</h2></th>
      <th id="stock-head"></th>
    </tr>
  </thead>
  <body>
    <% @stock.each do |album| %>
      <tr>
        <td><%= album.title  %></td>
        <td><%= album.artist.swap_the() %></td>
        <td scope="<%= album.stock_level() %>" id="stock-level"></td>
      </tr>
    <% end %>
  </body>
</table>
