body {
  width: 70%;
  margin: auto;
}

nav {
background-color: gray;
}

table {
  height: 40%;
  /* left: 10%; */
  margin: auto;
  overflow-y: scroll;
  /* position: static; */
  width: 70%;
}

thead th {
  padding: 5px;
  background: #88CCF1;
  color: #FFF;
  /* font-family: 'Lato', sans-serif; */
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.menu-item {
  display: flex;
  padding: 0 50px;
  /* justify-content: center;
  flex-grow: 1; */
}

.logo {
  text-align: center;
}

.search {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: gray;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.search h1 {
}
