* {
  margin: 0;
}

body {
  width: 40%;
  height: 100%;
  margin: auto;
}

nav {
  margin: auto;
  width: 320px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Signika', sans-serif;
}

.nav-rule {
  width: 350px;
  margin: auto;
}


table {
  border-collapse: separate;
  border-spacing: 5px;
  /* margin: auto; */
  width: 100%;
}

th {
  text-align: left;
  letter-spacing: 5px;

}

#stock-level {

  border-radius: 50%;
  width: 20px;
  height: 20px
}

tr {
  font-family: 'Noto Sans', sans-serif;
}

td[scope="LOW"] {
  background-color: #E94B54;
}

td[scope="MED"] {
  background-color: #FAC338;
}

td[scope="HIGH"] {
  background-color: #196D57;
}

td {
  text-align: left;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  /* font-family: 'Shrikhand', cursive; */
  letter-spacing: 2px;
}


#table-highlight:hover {background-color: gray;}


#artist-head-cell {
  /* padding-left: 20px; */
}

#artist-data-cell {
  /* border-left: 1px solid black; */
}

a, a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    position: relative;
    top: 4px;
}

a:hover {
  color: #E94B54;
}

#menu-item {
  display: flex;
}

.logo {
  margin: auto;
  width: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

}

.logo h1 {
  padding-bottom: 20px;
  font-size: 40px;
  font-family: 'Shrikhand', cursive;
}

.logo h3 {
  padding-top: 10px;
  font-family: 'Noto Sans', sans-serif;
}

.search {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: gray;
  text-align: center;
  display: flex;
  padding: 5px 0 5px 0;
}

.search h2 {
  font-family: 'Signika', sans-serif;
}

.list {
  font-family: 'Noto Sans', sans-serif;
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.list p {
  padding-left: 20px;
  padding: 10px 0 10px 25px;
}

.edit a{
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

.edit a:hover{
  color: #E94B54;
}

.inventory-tables{
  display: flex;
  justify-content: space-between;
}

.stock-level {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: left;
}

#stock-keys {
  width: 220px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 5px 20px 5px 25px;

}

.title-add {
  padding: 0 9px;
  border-radius: 50%;
  background-color: white;
  color: black;
}

.title-add a{
  position:relative;
  left: 1px;
  bottom: 1px;
}

.add-artist {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding-top: 20px;
  font-family: 'Noto Sans', sans-serif;
  margin: auto;
}

/* album edit view */

.add-album {
  margin: auto;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-album .inputs{
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-family: 'Noto Sans', sans-serif;
}

.artist-albums {
  font-family: 'Noto Sans', sans-serif;
  padding: 10px 0 10px 25px;
}

.artist-albums ul{
  padding: 10px 0 10px 25px;
}

.artist-albums li{
  padding: 5px 0;
}

.btn {
  width: 100%;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.add:hover {
  background-color: black;
  color: white;
}

.edit:hover {
  background-color: black;
  color: white;
}

.delete {
  margin-top: 10px;
}

.delete:hover {
  border-color: #E94B54;
  background-color: #E94B54;
  color: white;
}

.link-add-artist {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-add-artist a{
  text-decoration: underline;
}

p {
  font-family: 'Noto Sans', sans-serif;
}
