* {
  margin: 0;
}

body {
  width: 40%;
  height: 100%;
  margin: auto;
}

nav {
  margin: auto;
  width: 320px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Signika', sans-serif;
}

.nav-rule {
  width: 350px;
  margin: auto;
}


table {
  border-collapse: separate;
  border-spacing: 5px;
  /* margin: auto; */
  width: 100%;
}

th {
  text-align: left;
  letter-spacing: 5px;

}

#stock-level {

  border-radius: 50%;
  width: 20px;
  height: 20px
}

td[scope="LOW"] {
  background-color: red;
}

td[scope="MED"] {
  background-color: orange;
}

td[scope="HIGH"] {
  background-color: green;
}

td {
  text-align: left;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  /* font-family: 'Shrikhand', cursive; */
  letter-spacing: 2px;
}


#table-highlight:hover {background-color: gray;}


#artist-head-cell {
  /* padding-left: 20px; */
}

#artist-data-cell {
  /* border-left: 1px solid black; */
}

tr {

}

a, a:visited {
    text-decoration: none;
     color: black;
}



#menu-item {
  display: flex;
}

.logo {
  margin: auto;
  width: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

}

.logo h1 {
  padding-bottom: 20px;
  font-size: 40px;
  font-family: 'Shrikhand', cursive;
}

.logo h3 {
  padding-top: 10px;
  font-family: 'Noto Sans', sans-serif;
}

.search {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: gray;
  text-align: center;
  display: flex;
  padding: 5px 0 5px 0;
}

.search h2 {
  font-family: 'Signika', sans-serif;
}

.list {
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.list p {
  padding-left: 20px;
  padding: 10px 0 10px 25px;
}

.red-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
}

.orange-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: orange;
}

.green-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
}
.inventory-tables{
  display: flex;
  justify-content: space-between;
}

.stock-level {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: left;
}

#stock-keys {
  width: 220px;
}

.title {
  background-color: black;
  color: white;
  padding: 5px 0 5px 25px;

}

.add {
  font-family: 'Noto Sans', sans-serif;
  padding: 5px 0 5px 25px;
}

.add-artist {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding-top: 20px;
  font-family: 'Noto Sans', sans-serif;
  margin: auto;
}

.add-album {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-album .inputs{
  margin: auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-family: 'Noto Sans', sans-serif;
}

.artist-albums {
  padding: 10px 0 10px 25px;
}

.artist-albums ul{
  padding: 10px 0 10px 25px;
}

.artist-albums li{
  padding: 5px 0;
}
