<h2>ALBUMS</h2>

<h3><a href="/albums/new">Add Album</a></h3>

<% @albums.each do |album| %>
  <% if album != @recently_added_album %>
    <p><a href="/albums/<%= album.id %>"> <%= album.title %> </a></p>
  <% else %>
      <p><a href="/albums/<%= album.id %>"> <%= album.title %> </a> -- recently added --</p>
  <% end %>
<% end %>
