<h2>ALBUMS</h2>

<% @albums.each do |album| %>
<% name = album.artist.swap_the() %>
<p>Title: <%= album.title  %> </p>
<p>Artist: <%= name %></p>
<p>Quantity: <%= album.quantity %></p>
<a href="/albums/<%= album.id %>/edit">Edit</a>
<br>

<% end %>
