<div class="title">
  <h2>Add Album</h2>
</div>


<form class="add-album" action="/albums/new" method="post">

  <label for="artist_select">Select Artist:</label>
  <select name="artist_id" id="house_select" required>
    <% @artists.each do |artist| %>
      <option value=<%= artist.id %>><%= artist.swap_the %></option>
    <% end %>
  </select>

  <label for="title">Title:</label>
  <input type="text" name="title" required/>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" required/>

  <input type="submit" value="Add Album" required>
</form>

<a href="/artists/new">Add Artist</a>
