<h2>Add Album</h2>

<form action="/albums/new" method="post">

  <label for="artist_select">Select Artist:</label>
  <select name="artist_id" id="house_select">
    <% @artists.each do |artist| %>
      <option value=<%= artist.id %>><%= artist.swap_the %></option>
    <% end %>
  </select>

  <label for="title">Title:</label>
  <input type="text" name="title"/>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity"/>

  <input type="submit" value="Add Album">
</form>

<a href="/artists/new">Add Artist</a>
