<h2>Edit: <%= @artist.swap_the() %></h2>

<form action="/artists/<%= @artist.id %>/edit" method="POST">

  <input type="text" name="name" value="<%= @artist.swap_the() %>">

  <input type="submit" value="Edit">
</form>

<form action="/artists/<%= @artist.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

</form>
