<h2>ARTISTS</h2>

<h3><a href="/artists/new">Add Artist</a></h3>

<% @artists.each do |artist| %>
  <% if artist.name != @recently_added_artist.name %>
    <% if artist.name.end_with?("The") %>
      <p><%= artist.name.split.reverse.join(" ") %></p>
    <% else %>
      <p><%= artist.name  %> </p>
    <% end %>
  <% else %>
    <% if artist.name.end_with?("The") %>
      <p><%= artist.name.split.reverse.join(" ") %> -- recently added --</p>
    <% else %>
      <p><%= artist.name %> -- recently added --</p>
    <% end %>
  <% end %>
<% end %>
