<div class="title">
  <h2>Add Artist</h2>
</div>


<div class="add-artist">
  <div>
    <form action="/artists" method="post">
    <div class="inputs" >
      <label for="name">Artist Name:</label>
      <input type="text" name="name" id="name" required/>
    </div>
  </div>


    <hr>

    <div>
      <button class="btn add" type="submit">Add</button>
    </div>

  </form>
</div>
