<h2>Add Artist</h2>

<form class="add_artist_form" action="/artists" method="post">
  <label for="name">Artist Name:</label>
  <input type="text" name="name" value="<%= @artist_exists_value %>"id="name">

  <input type="submit" value="Add Artist"/>
</form>
