<div class="title">
  <h2>Add Artist</h2>
</div>


</div>
<form class="add-artist" action="/artists" method="post">
  <label for="name">Artist Name:</label>
  <input type="text" name="name" id="name" required/>

  <input type="submit" value="Add Artist" required/>
</form>
